Repository Goorm-Synergy/Synergy-Backend, pull requests merged in 2025-04, with the labels that each got.

#175 fix: AttendeeBaseInfoResponse currentJob -> desiredJob
  src/main/java/com/synergy/backend/domain/member/api/dto/response/AttendeeBaseInfoResponseDto.java
Labels: fix

#176 Feat : 부스, 세션 대시보드 수정
  src/main/java/com/synergy/backend/domain/booth/dto/boothParticipateDto/BoothDtoMapper.java
  src/main/java/com/synergy/backend/domain/booth/dto/boothParticipateDto/BoothParticipationInterestedResponseDto.java
  src/main/java/com/synergy/backend/domain/booth/dto/boothParticipateDto/collection/BoothParticipateInterestedTechDtoList.java
  src/main/java/com/synergy/backend/domain/booth/service/BoothParticipationServiceImpl.java
  src/main/java/com/synergy/backend/domain/session/service/SessionParticipateServiceImpl.java
  src/test/java/com/synergy/backend/domain/booth/service/BoothParticipationServiceImplTest.java
Labels: feature, refactor

#179 feat: 서비스 테스트코드
  src/main/java/com/synergy/backend/domain/session/service/SessionParticipateServiceImpl.java
  src/main/java/com/synergy/backend/domain/session/service/SessionServiceImpl.java
  src/test/java/com/synergy/backend/domain/booth/service/BoothServiceImplTest.java
  src/test/java/com/synergy/backend/domain/conference/service/ConferenceServiceImplTest.java
  src/test/java/com/synergy/backend/domain/qrCode/service/QrServiceTest.java
  src/test/java/com/synergy/backend/domain/session/service/SessionParticipateServiceImplTest.java
  src/test/java/com/synergy/backend/domain/session/service/SessionServiceImplTest.java
Labels: test

#181 test : 테스트 범위 설정 및 부가 기능 테스트 작성
  build.gradle
  src/main/java/com/synergy/backend/domain/member/api/AuthController.java
  src/main/resources/application.yml
  src/test/java/com/synergy/backend/domain/member/api/AuthControllerTest.java
  src/test/java/com/synergy/backend/domain/member/repository/AdminRepositoryTest.java
  src/test/java/com/synergy/backend/module/ControllerTestSupport.java
Labels: test
